body{
    background: #DDB9FF;
    padding: 0;
    margin: 0;
    min-width: 1890px;
}
header{
    background-color: black;
    margin: 0;
    padding: 0;
    display: grid; 
    grid-template-rows: 178px 90px;
   
    .UpHead{
        display: grid;
        grid-template-columns: 318px 318px auto 318px 318px;
        display: flex;

        p{
            font-family: 'merienda';
        }
    }

    .navv{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        width: auto;
        padding-top: 50px;
        padding-left: 200px;
        padding-right: 200px;
        gap: 242px;
        
        
        a{
            display: grid;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }

        button{
            color: white;
            background-color: rgb(161, 66, 250);
            font-size: 20px;
            border-radius: 16px;
            border: none;
            
        }

        button:hover{
            background-color: aquamarine;
            color: blueviolet;
        }
        img{
            position: relative;
        }
    }

    .lodot{
        display: grid;
        grid-template-rows: auto auto;
        width: 100%; 
        align-items: center;
    }
    .naz1{
        text-align: center;
        margin: 0%;
        padding: 0%;
        color: #DDB9FF;
        font-size: 55px;
    }
    .naz2{
        text-align: center;
        margin: 0%;
        padding: 0%;
        color: #DDB9FF;
        font-size: 35px;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
}
.btn-up {
    position: fixed;
    background-color: #673ab7;
    right: 10px;
    bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
  }
  
  .btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
    display: none;
}

@media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
        background-color: #512da8;
    }
}


.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
}


.slideshoy{
    display: flex;
    justify-content: center;
    padding-left: 10%;
    width: auto;
    height: 650px;
    background-color: gray;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .sliderimg{
        width: 700px;
        img{
            margin-bottom: -10px;
            width: 320px;
            height: 320px;
        }
    }
}

.slider{
    width: 600px;
    position: relative;
    margin: auto;
    height: auto;
}

.slider .item img {
    padding-bottom: 15px;
    object-fit: cover;
    width: 600px;
    height: 600px;
}

.slider .previous, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

.polos{
    height: 142px;
    background-color: #C497FF;
    font-family: Arial, Helvetica, sans-serif;

    .opcii{
        display: flex;
        justify-content: space-around; 
    }

    a{
        padding-top: 55px;
        text-decoration: none;      
    }
    
    button{
        display: flex;
        text-align: center;
        background-color: #C497FF;
        color: black;
        border: none;
        font-size: 27px;
    }

    button:hover{
        color: aqua;

    }
}
.oglav{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: "Newsreader", serif;
}

.tovar{
    display: flex;
    justify-content: space-around;

    .vesnablizko, .negni, .divnisad2, .balcvetov, .Gracia, .odergimost, .teploemgn, .cvetbezumie, .rozovoeoblako, .intriga, .pritazanie, .chyvcstvennost{
        width: 320px;
        height: 520px;
        background-color: white;
        border-radius: 13px;
        font-family: Arial, Helvetica, sans-serif;
    
        p{
            text-align: center;
            font-size: 30px;

        }
        a{
            display: flex;
            justify-content: center;
            text-decoration: none;
        }
        button{
            font-size: 25px;
            background-color: white;
            border-radius: 5px;
            border-width: 1px;
        }
        button:hover{
            color: aqua;
        }
        img{
            width: 320px;
            height: 320px;
            border-top-left-radius: 13px;
            border-top-right-radius: 13px;
            overflow: hidden;
            cursor: pointer;
        }
    }
}

.tovar2{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;

    .cvetbezumie2, .laskmig2, .vspiska, .aura, .laskmig, .lubov, .neotrazima, .divnsad, .gelanie, .neotrazima2, .Gracia2, .vcusprazdnika{
        width: 320px;
        height: 520px;
        background-color: white;
        border-radius: 13px;
        font-family: Arial, Helvetica, sans-serif;
    
        p{
            text-align: center;
            font-size: 30px;
        }
        a{
            display: flex;
            justify-content: center;
            text-decoration: none;
        }
        button{
            font-size: 25px;
            background-color: white;
            border-radius: 5px;
            border-width: 1px;
        }
        button:hover{
            color: aqua;
        }
        img{
            width: 320px;
            height: 320px;
            border-top-left-radius: 13px;
            border-top-right-radius: 13px;
            overflow: hidden;
            cursor: pointer;
        }
    }
}

.bot{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 60px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    text-align: center;

    p{
        display: flex;
        align-items: center;
        color: white;
        font-size: 30px;
    }
}

    