body{
    padding: 0;
    margin: 0;
    background-image: url(../img/фоновый.jpg);
    min-width: 1890px;
}
.vernytsa{
    font-size: 35px;
    a{
        color: black;
        text-decoration: none;
    }
}
.cart {
    width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background: rgba(94, 255, 255, 0.695);
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 30px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    button {
        font-size: 20px;
        background-color: #f85858;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    button:hover {
        background-color: #005bb5;
}

}
.zagolovok{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 60px;
}
.itog{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
