body{
    background-image: url(../img/фоновый.jpg);
    padding: 0;
    margin: 0;
}
.vernytsa{
    font-size: 35px;
    
    a{
        color: black;
        text-decoration: none;
    }
}

.zakaz{
    display: grid;
    grid-template-rows: auto auto;
    width: 800px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;

    p{
        font-size:40px;
    }
}
.com{
    display: flex;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    width: 200px;
}

